{% extends "club_once_estrellas/base.html" %}

{% block contenido %}
<section>
  <div>
    <h1>Sobre las actividades dictadas en el club:</h1>
    <br>

    {% for articulo in articulos %}
    <div class="articulo">
      <h2>{{ articulo.titulo }}</h2>
      <p>Fecha de Publicación: {{ articulo.fecha_publicacion }}</p>

      {% if articulo.imagen %}
      <div class="imagen-container">
        <img class="imagen-articulo" src="{{ articulo.imagen.url }}" alt="{{ articulo.titulo }}">
      </div>
      {% endif %}
      <br>
      <a href="{% url 'detalle_articulo' articulo.pk %}">Ver más</a>

      <hr>
      <br>
    </div>
    {% endfor %}

    <a href="{% url 'lista_articulos' %}">Volver a la lista de artículos</a>
  </div>
</section>

<style>
  .articulo {
    margin-bottom: 20px;
  }

  .imagen-container {
    max-width: 500px;
    max-height: 300px;
    overflow: hidden;
  }

  .imagen-articulo {
    width: 100%;
    height: auto;
  }
</style>

{% endblock contenido %}