{% extends "club_once_estrellas/base.html" %}

{% block contenido %}
<h2>Hacete socio/a del ONCE</h2>
<br>
<p><strong>Beneficios:</strong><p>
<p>Descuento en el alquiler de salones y canchas</p>
<br>
<p><strong>Monto de la cuota social:</strong><p> 
<p> El monto de la cuota social es de $600 anuales, los cuales se podrán pagar en 2 cuotas.</p>
<br>
<p><strong>Para hacerte socio o socia:</strong><p>
<p>Escribinos a través de nuestras redes sociales, o contactate por el 220300000.</p>

{% endblock contenido %}